[Unit]
Description=Start Xorg with XFCE in LXC
After=network.target

[Service]
User=root
ExecStart=/usr/bin/startxfce4
Environment=DISPLAY=:0
Restart=always

[Install]
WantedBy=multi-user.target